node_modules/
npm-debug.log
.DS_Store
*.log
logs
*.pid
*.seed
*.pid.lock
pids
*.log
*.sqlite
*.sqlite3
*.dat
*.out
*.pid
*.gz
*.tar
build/Release
Debug/
Release/
vendor/
*.map
*.sublime-project
*.sublime-workspace
*.project
*.tmproj
*.idea/
.sass-cache/
.jshintrc
.jshintignore
*.bak
*.swp
*.back
*.merge
*.patch
*.orig
*.rej
mtj.tmp/
*.tmtags
.TMTags*
.tsserver.log
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
apollo-ios-cli
.build
